.header{
  grid-area: header;
  width: 100%;
  height: auto;
  display: flex;
  background-color: rgb(110, 110, 110);
  margin: 0 auto;
  justify-content: center;
  align-items: center;

}

.header_logo{
  width: 50px;
}

.header_title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  margin: 0 20px;
}

.fs_btn {
  width: 40px;
  height: 40px;
  position: relative;
  right: 0px;
  background-color: rgb(87, 87, 87);
  border-radius: 15%;
  background-image: url('../../images/fs-enter.png');
}

.fs_btn_logo {
  width: 50px;
  background-color: grey;
}