.footer {
  grid-area: footer;
  width: 100%;
  height: 60px;
  display: flex;
  background-color: rgb(110, 110, 110);
  justify-content: space-between;
  align-items: center;
}

.footer_resource {
  margin: 0 5vw;
}

.footer_resource a {
  text-decoration: none;
}

.footer img {
  width: 17vh;
}

.footer_author {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3em;
  color: #000;
}