
@media screen and (min-width: 900px) {
  .app-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    'header header'
    'navbar main'
    'footer footer';
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 2fr 10fr;
    justify-items: center;
    align-items: center;
    background-image: url(./images/theme.jpg);
    background-size: cover;
  }
}
